.ydl-calendar-container {
  width: 100%;
  .fix{
    position: fixed;
  }
  .titleBox {
    top: 0;
    width: 100%;
    .title {
      display: flex;
      text-align: center;
      height: 50px;
      align-items: center;
      background: white;
      .titleItem {
        flex: 1;
      }
    }
  }
  .monthBox {
    clear: both;
    margin-bottom: 30px;
    margin-top: 50px;
    .monthTitle {
      padding: 20px 0;
      text-align: center;
      align-items: center;
      width: 150px;
      margin: auto;
      span.line {
        width: 20px;
        background: #d8d8d8;
        height: 1px;
        display: inline-block;
      }
      .monthTitleContent {
        padding: 0 10px;
        font-size: 13px;
        color: #666666;
      }
    }
    .day {
      width: 100%;
      color: #242424;
      font-size: 14px;
      font-weight: 600;
      .dayItem {
        width: 14.285%;
        float: left;
        text-align: center;
        justify-content: center;
        align-items: center;
        .dayItemContent {
          padding: 5px 0;
        }
      }
      .item-disable {
        .day{
          color: #bfbfbf;
        }
        .type{
          color: #bfbfbf;
        }
      }
      .type {
        color: #666666;
        font-size: 12px;
        font-weight: normal;
      }

      .activeBox{
        .dayItemContent {
          width: 49px;
          border-radius: 8px;
          background-color: #1da1f2;
          color: white;
          display: inline-table;
        }
        .day {
          color: white;
        }
        .type {
          color: white;
        }
      }
    }
  }
  .clear{
    clear: both;
  }
  .white{
    color:white;
  }
}

